body {
	margin: 0;
	background-color: #EEEEEE;
	background-image: url(images/hintergrund.jpg);
}

p, td {
	font: normal 11px/140% Verdana, Tahoma, Helvetica, sans-serif;
	margin: 0px 0px 5px 0px;
	padding: 0px;}

h1 {
	color: #345;
	font: bold 15px/140% Verdana, Tahoma, Helvetica, sans-serif;
	letter-spacing: 1px;
	margin: 0px 0px 5px 0px;
	padding: 0px;}

h2 {
	color: #345;
	font: bold 13px/140% Verdana, Tahoma, Helvetica, sans-serif;
	margin: 0px 0px 5px 0px;
	padding: 0px;}

b {
	color: #456;}

a {
	color: #5B7896;
	font-weight: bold;
	text-decoration: underline;
}

a:hover {
	color: #FF0000;
	text-decoration: underline;
}

#head {
	width: 750px;
	height: 100px;
	margin: 15px 0px 0px 0px;
	padding: 0px;
	border: none;}

.clear {
	clear: both;}

.clear_line {
	clear: both;
	display: block;
	margin: 4px 0 5px 0;
	border-top: 1px solid #999;}

#head_navigation {
	display: block;
	color: #012;
	width: auto;
	height: auto;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding-top: 6px;
	padding-bottom: 5px;
	border-bottom: 1px solid #234;
	background-color: #A5B3C0;
}

#head_navigation a {
	color: #123;
	font: bold 11px/100% Verdana, Tahoma, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;}

#head_navigation a:hover {
	color: #FF0000;
}

#head_navigation .off {
	color: #FFF;
	font: bold 11px/100% Verdana, Tahoma, Helvetica, sans-serif;
	text-transform: uppercase;}

.column {
	color: #000;
	background: #EEE;
	width: auto;
	margin: 0px;
	padding: 25px 15px 30px 15px;}

form {
	color: #0A3;
	background: #EEE;
	margin: 0px 0px 0px 0px;}
	
.column input {
	width: 200px;
	margin: 3px 0px 12px 0px;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #475B74;
	background-color: #C0CAD3;
}

.column textarea {
	width: 300px;
	margin: 3px 0px 5px 0px;
	padding: 2px;
	height: 140px;
	background-color: #C0CAD3;
}

.column img {
	margin: 0px 0px 10px 0px;}

.bildbox {
	display: inline;
	float: left;
	color: #333;
	font: normal 10px/110% Verdana, Tahoma, Helvetica, sans-serif;
	width: 150px;
	height: auto;
	margin: 0px 15px 5px 0px;}

.bildbox img {
	margin: 5px 0px 3px 0px;}

#footer {
	display: block;
	color: #012;
	font: bold 9px/140% Verdana, Tahoma, Helvetica, sans-serif;
	width: auto;
	height: 30px;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding-top: 7px;
	border-top: 1px solid #234;
	background-color: #A5B3C0;
	background-image: none;
	background-repeat: no-repeat;
	padding-bottom: 7px;
}

#footer a {
	color: #123;
	font-weight: bold;
	text-decoration: none;}

#footer a:hover {
	color: #FF0000;
}
