body {
	margin: 0;
	background-color: #ffffff;
}

p, td {
	font: normal 14px/160% Verdana, Tahoma, Helvetica, sans-serif;
	margin: 0px 0px 10px 0px;
	padding: 0px;}

h1 {
	color: #2c3e50;
	font: bold 22px/140% Verdana, Tahoma, Helvetica, sans-serif;
	letter-spacing: 1px;
	margin: 0px 0px 15px 0px;
	padding: 0px;}

h2 {
	color: #2c3e50;
	font: bold 18px/140% Verdana, Tahoma, Helvetica, sans-serif;
	margin: 15px 0px 10px 0px;
	padding: 0px;}

b {
	color: #456;}

a {
	color: #3498db;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #e74c3c;
	text-decoration: underline;
}

#head {
	width: 750px;
	height: 100px;
	margin: 15px 0px 0px 0px;
	padding: 0px;
	border: none;}

.clear {
	clear: both;}

.clear_line {
	clear: both;
	display: block;
	margin: 4px 0 5px 0;
	border-top: 1px solid #999;}

#head_navigation {
	display: block;
	color: #fff;
	width: auto;
	height: auto;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: none;
	background-color: #34495e;
}

#head_navigation a {
	color: #ecf0f1;
	font: bold 12px/100% Verdana, Tahoma, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	padding: 8px 12px;
	transition: background-color 0.3s;
}

#head_navigation a:hover {
	color: #ffffff;
	background-color: #2c3e50;
	border-radius: 3px;
}

#head_navigation .off {
	color: #3498db;
	font: bold 12px/100% Verdana, Tahoma, Helvetica, sans-serif;
	text-transform: uppercase;
	padding: 8px 12px;
}

.column {
	color: #333;
	background: #ffffff;
	width: auto;
	margin: 0px;
	padding: 30px 20px 35px 20px;
}

form {
	color: #0A3;
	background: #EEE;
	margin: 0px 0px 0px 0px;}
	
.column input {
	width: 200px;
	margin: 3px 0px 12px 0px;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #475B74;
	background-color: #C0CAD3;
}

.column textarea {
	width: 300px;
	margin: 3px 0px 5px 0px;
	padding: 2px;
	height: 140px;
	background-color: #C0CAD3;
}

.column img {
	margin: 0px 0px 10px 0px;}

.bildbox {
	display: inline;
	float: left;
	color: #333;
	font: normal 10px/110% Verdana, Tahoma, Helvetica, sans-serif;
	width: 150px;
	height: auto;
	margin: 0px 15px 5px 0px;}

.bildbox img {
	margin: 5px 0px 3px 0px;}

#footer {
	display: block;
	color: #ecf0f1;
	font: bold 11px/140% Verdana, Tahoma, Helvetica, sans-serif;
	width: auto;
	height: auto;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding-top: 15px;
	border-top: none;
	background-color: #34495e;
	padding-bottom: 15px;
}

#footer a {
	color: #ecf0f1;
	font-weight: bold;
	text-decoration: none;}

#footer a:hover {
	color: #3498db;
}
